[2020-07-31 18:03] BenTheElder opened #10 "eks-tester pulling in kubernetes/kubernetes makes the main module hard to depend on"
kubetest2 is going to be a very difficult dependency to work with when the EKS provider pulls in kubernetes/kubernetes at a particular version. https://github.com/kubernetes/test-infra/pull/17869#issuecomment-667255485

one way or another this should be removed from the main module, which should NOT depend on kubernetes/kubernetes

/assign @amwat

[2020-07-31 18:43] amwat commented on #10
/cc @gyuho

yeah i think i'm planning on making each deployer it's own submodule.

[2020-07-31 19:57] BenTheElder commented on #10
I think this may make versioning and `go get` problematic, but depending on k/k is unnaceptable, that's a dependency management nightmare for anyone else trying to work with this.

[2020-07-31 21:05] gyuho commented on #10
@BenTheElder We do not want to block the migration. While we are cleaning up the dependency (probably we will package everything in binary, and call it as subprocess), please feel free to remove eks provider.

[2020-07-31 23:11] BenTheElder commented on #10
thanks @gyuho :pray:

I think:

sounds like a good approach :+1:

[2020-08-05 14:54] chrislovecnm opened #16 "Documentation and Examples"
If these exist, please close this issue, but I am having a rough time finding documentation and examples.  This project looks AWESOME, but I would love to use it, and I am uncertain how to.  I have figured out that I can do this:

[code]

But what is the best pattern to use inside of a go unit test?  Is this the pattern?

[code]
Run my test code. And then

[code]

Rather than running it directly,

[2020-08-05 16:31] MushuEE commented on #16
/cc @amwat @michaelmdresser

[2020-08-05 17:23] chrislovecnm opened #17 "Release"
Do we have a release or beta release cut of this?  Where can I download it from?

[2020-08-05 18:30] #10 closed

[2020-08-05 18:45] chrislovecnm opened #19 "Should binaries have there own repo or how do we manage deps better?"
I think we have an interesting problem here with dependencies.  I am wondering if we have binaries like say hypothetically `kubetest2-kops` in its own repo or hosted in the kops repo.  Dependencies are nontrial to manage with the k8s projects, which we already saw with us removing the kubetest2-eks.

Thoughts?

[2020-08-05 19:06] amwat commented on #17
Not as of now, but we plan to cut a tagged release alongside whenever some of the kubernetes CI jobs start using the kubetest2 deployers (which are under construction).
For now you can get the latest binaries by `go get sigs.k8s.io/kubetest2@latest` and similarly for the deployers and testers.

[2020-08-05 19:09] amwat commented on #19
That is the intention :) Ideally you can implement your own deployer out of tree and still use the end-to-end flow as long as the deployers and tester are named correctly.

[2020-08-05 20:20] BenTheElder commented on #19
imho kubetest2 should avoid taking on many dependencies in the core, after your PR it's pretty nice at:

https://github.com/kubernetes-sigs/kubetest2/blob/ef32b5b18e53c4a13ef35e95e8b7e60b10c72ec4/go.mod#L5-L12

If any of the in-tree sample deployers want non-trivial dependencies for their own use, we should probably make them pull that into a separate binary / module one way or another to avoid th

[2020-08-06 19:13] amwat commented on #16
/assign

[2020-08-07 00:40] BenTheElder opened #23 "port this repo to gimme"
https://github.com/kubernetes-sigs/kind/pull/1769

cc @amwat @michaelmdresser

[2020-08-07 01:55] BenTheElder commented on #23
/assign

[2020-08-07 04:06] #23 closed

[2020-08-17 21:48] amwat opened #45 "Should have a noop deployer"
Currently kubetest2 requires a deployer entrypoint.
One common use case is to run tests on an existing cluster, for which the deployer is mostly a noop.
kubetest has something similar: https://github.com/kubernetes/test-infra/blob/master/kubetest/none.go

[2020-08-17 21:48] amwat commented on #45
FYI @pymander

[2020-09-08 17:45] randomvariable commented on #45
Interested in this as we're a potential consumer in Cluster API.

We've also inverted the deployer flow somewhat, where we have a test framework that deploys clusters using Cluster API and then runs kubetest.

[2020-09-08 22:23] amwat commented on #45
the #sig-testing channel and meeting in the kubernetes slack is the best place (https://github.com/kubernetes-sigs/kubetest2#community-discussion-contribution-and-support)

Yup, definitely should consider a kubetest2 CAP* deployer (since that would solve the exact use case you described)

[2020-09-09 11:19] randomvariable commented on #45
Thanks, will create a new issue for tracking.

[2020-09-09 11:24] randomvariable opened #48 "Add Cluster API deployer"
Breaking out of #45 into a new issue

Creating a Cluster API deployer for kubetest would present a number of benefits:

* Being able to run kubetest across any Cluster API infrastructure implementation.
* Allows for minimal infrastructure specific code in this repo
* Expands testing possibilities (e.g. routable ipv6 in AWS)

At a high-level, the deployer would need to do things along the following

[2020-09-09 11:24] randomvariable commented on #48
/assign

[2020-09-09 15:47] chrislovecnm commented on #17
@amwat any idea on timeframe?  I would love an alpha release since I am having to upload a binary to gcs for one of my builds.

[2020-09-09 17:40] amwat commented on #17
We still don't have all the functionality from kubetest yet which I probably want before the first release. Most likely some time in the 1.20 time frame.

Does go get latest work for you currently?

[2020-09-21 21:53] chizhg opened #58 "The error message in the JUnit xml result is not informative"
When we use `kubetest2` to run a test workflow, for each phase, it will add a test in the JUnit xml result if it fails, and include the error message, the main reason for adding this is for integration with Testgrid and Spyglass.

However, the error message for the test is something like `exit status 255` and does not contain any information in detail, for example https://prow.knative.dev/view/gs/

[2020-09-21 23:31] amwat commented on #58
Now that we've split the testers into separate binaries, we can probably skip wrapping the Test phase into a Junit error (but that's only for use cases where the tester itself is generating it's own Junit.) For simple cases especially with the `--test=exec` most commands you'll run would be simple commands that won't generate Junit so we still need an overall pass/fail for the entire Test phase.

[2020-10-14 21:41] benmoss commented on #48
started on this here https://github.com/benmoss/kubetest2/tree/capi-deployer

[2020-10-14 21:59] randomvariable commented on #48
Maybe we should put the capi-deployer in the Cluster API repository under test/kubetest2-cluster-api in the first instance?

See https://github.com/kubernetes/kops/pull/10031 for the similar effort.

[2020-10-16 13:59] benmoss commented on #48
Yeah I think while we're still iterating on it it's nice to have it somewhere we don't need to do PR's/code review each revision

[2020-10-16 14:03] randomvariable commented on #48
Oh, absolutely, just mean, when you PR it, we should probably own it in CAPI.

[2020-10-22 18:41] benmoss commented on #48
Opened a PR here https://github.com/kubernetes-sigs/cluster-api/pull/3855

[2020-10-26 13:01] randomvariable commented on #48
Nice. Will take a look.

[2020-11-05 16:46] pymander commented on #16
We have some examples and a getting started guide in the Developer Guide here: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests-kubetest2.md

[2020-12-01 21:28] ixdy opened #77 "kubetest2 should handle signals"
When a test job times out, Prow sends a signal to the test process to allow it to clean up before it's terminated.

Ideally, kubetest2 would handle this signal, canceling any currently-running subprocess and running any cleanup that's necessary (e.g. tearing down resources if `--down` was provided or returning resources to boskos), but it [appears this is not yet implemented](https://github.com/ku

[2020-12-01 21:53] amwat commented on #77
/assign

[2021-01-02 22:50] #19 closed

[2021-01-04 17:32] #16 closed

[2021-01-05 05:35] rifelpet opened #79 "ginkgo - Support downloading kubernetes client tar"
Currently the gingko tester supports [downloading the e2e test package tar](https://github.com/kubernetes-sigs/kubetest2/blob/master/pkg/testers/ginkgo/package.go) from a GCS bucket to use a specific version of the test package.

For test runs in which k/k is not being built it would be useful to support the same functionality for the kubernetes client package. This way we can align kubectl + kube

[2021-01-27 01:51] rifelpet opened #87 "Support deployers passing additional information to testers"
Currently a tester is invoked with only arguments provided from the kubetest2 invocation (`kubetest2 ... -- --tester-args-here`) along with some environment variables. The deployer can optionally provide a kubeconfig file to the tester via an interface:

https://github.com/kubernetes-sigs/kubetest2/blob/d56fa28ed1f35903661fac5f57503e0dedf29b42/pkg/app/app.go#L128-L133

As I build kubetest2 support

[2021-01-27 04:07] amwat commented on #87
Yes, this was one of the objectives from the very start; to discourage non standard information being passed around.
Either way having an interface for testers won't help much either since the contract between deployers and testers is now "invoking as a binary".

Can this information be computed after we have access to the cluster? in which case we should definitely do that inside the tester.

If

[2021-02-01 04:02] chizhg opened #88 "[Proposal] gke deployer supports retrying when cluster creation failures happen"
## Background

kubetest2 gke deployer is now used by a few projects to create GKE clusters in the CI environment for test automation, and we've seen a few different errors which caused the cluster creation to be failed.

The most common errors we've seen are:

1. `The zone xxx does not have enough resources available to fulfill the request`. It corresponds to the `GCE_STOCKOUT` error. This error h

[2021-02-01 21:39] amwat commented on #88
/cc @BenTheElder @spiffxp

[2021-02-01 23:21] chizhg commented on #88
/cc @albertomilan

[2021-02-03 00:50] amwat commented on #88
Thanks for opening up a proposal issue as requested!

Yes, currently we assume that all clusters have the same configuration.

Since recreating in different zones is essentially now making the creation request more dynamic, my recommendation would be start support a config spec instead of trying to maintain individual cluster->zone mappings for Down etc.
(this will also enable the multiple cluster

[2021-02-03 00:51] amwat commented on #88
fyi @mm4tt (just to be aware) since this will affect how multi clusters work with kubetest2

[2021-02-03 07:35] mm4tt commented on #88
Thanks @amwat, ACK

[2021-02-03 07:51] BenTheElder commented on #88
How do you propose to approach cleanup in the case that we fail in a zone? Is it immediate? Does down need to remember to cleanup all of the zones?

If cluster bring up fails due to a bug in Kubernetes rather than a stock out, are we going to waste time and resources attempting bring up in another zone? Or only for detected stockout?

I feel like perhaps if stockouts specifically are an ongoing co

[2021-02-03 08:55] amwat commented on #88
also adding refs to previous discussions on this topic: https://github.com/kubernetes-sigs/kubetest2/pull/13 , https://github.com/kubernetes-sigs/kubetest2/pull/85

[2021-02-04 07:58] chizhg commented on #88
For efficiency reasons, I'm proposing to have a map that records all the clusters created in each region/zone, and clean up them all in the end. But if you think it'll be a waste of resource, I think we can have double insurance - in the Up function, if the cluster fails to be created, delete the cluster asynchronously (do not check error) and record it in a map. And in the Down function, iterate

[2021-02-05 20:53] BenTheElder commented on #88
My only concerns are that we consider this, including:
- we should not cleanup things we did not create (kubetest2 can be used without boskos)
- we should make sure we will not miss cleanup up resources we *did* create

An in memory map tracking creation calls may be sufficient.

To be more clear: I don't think we should mask flakiness of bringup, that's something that should be fixed in the under

[2021-02-08 07:08] chizhg commented on #58
/lifecycle frozen

[2021-03-01 16:11] mkumatag opened #97 "Don't extract e2e.test and ginkgo binary into artifacts.BaseDir()"
These two binaries are extracted under the Artifacts folder and collected post-run and this end up utilizing a lot of space in the GCS which is not required as nothing else is captured, hence it will be good if we can put them into some temp folder and trigger from there

[2021-03-01 16:12] mkumatag commented on #97
location: https://github.com/kubernetes-sigs/kubetest2/blob/a964c23a8ca7f8653ec446769d52ea6b598ff4d2/pkg/testers/ginkgo/package.go#L96-L97

[2021-03-01 21:05] amwat opened #98 "Decouple RunDir from Artifacts"
A tracking issue for: https://github.com/kubernetes-sigs/kubetest2/pull/91#pullrequestreview-591825637

RunDir: should be used for storing all files in general specific to a single run of kubetest2
Artifacts: should only be used intentionally for storing files which (in CI) get automatically uploaded to GCS.

also helps with: https://github.com/kubernetes-sigs/kubetest2/issues/97

/cc @justinsb @m

[2021-03-02 00:50] amwat opened #99 "[GCE] [Failing Test] conformance nodePort tests"
https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%20master%20-%20kubetest2

xref: https://github.com/kubernetes/enhancements/issues/2464

After moving to `config-test.sh` in https://github.com/kubernetes-sigs/kubetest2/pull/96 the default GCE network name changed from `default` to `e2e-test-${USER}`
so changes initially added in https://github.com/kubernetes-sigs/kubetest2/pull/34

[2021-03-02 00:56] BenTheElder commented on #99
and the gce network name breaks the test...? 😬

[2021-03-02 04:58] mkumatag commented on #97
Agree for somecase it will be helpful to collect as artifacts but in case of downloading or using these binaries from some other repository is very costly, not everyone can afford that default feature. As you mentioned let's think about putting it somewhere else so that artifact does not collect it.

[2021-03-02 06:11] amwat commented on #99
The tests need extra setup to open up the nodePort range which needs to know the name of the network, we were defaulting to the wrong one.

[2021-03-03 00:55] #99 closed

[2021-03-03 22:50] BenTheElder opened #101 "set SOURCE_DATE_EPOCH from repo when building"
for reproducible builds https://github.com/kubernetes/test-infra/issues/18706#issuecomment-720947821

kubetest2 should do this internally based on the repo root.

[2021-03-03 22:50] BenTheElder commented on #101
cc @liggitt

[2021-03-05 04:23] rifelpet opened #102 "Support Version Marker Publishing"
I'm migrating a few remaining kOps e2e jobs to kubetest2 and I'm facing a kubetest2 limitation that I'd like to address upstream. We have a pipeline of jobs using kubetest 1 that publishes version markers upon tests passing. These markers indicate a version of kOps to use in other kubetest2 jobs.

I'm hoping to have kubetest2-kops publish version markers but I'm facing the following challenges:

*

[2021-03-05 05:16] amwat commented on #102
I think this proposal sounds very reasonable :) since this is very much in line with the whole lifecycle.
#87 was a bit awkward since we ideally want to plug and play deployers and testers, so deployer knowing TestArgs is an anti-pattern we'd like to avoid.

but PostTest() actions sounds like a good addition.
maybe instead of OnSuccess() and OnFailure()
just a

[code]

FYI something like this is a

[2021-03-05 09:10] amwat commented on #45
/reopen
/assign

[2021-03-05 09:39] amwat commented on #45
/remove-lifecycle rotten
/lifecycle active

[2021-03-08 20:41] amwat opened #106 "[GCE] add support for extracting pre-existing builds from GCS"
/cc @spiffxp

xref: https://github.com/kubernetes/test-infra/pull/21180#pullrequestreview-606680864
xref: kubernetes/enhancements#2464

[2021-03-08 22:00] amwat opened #107 "testsuite name does not show up in spyglass JUnit lens"
The testsuite names shows up in testgrid https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%20master%20-%20kubetest2

but not in the spyglass lens
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-kubetest2/1368978837181829120

/cc @chizhg @spiffxp

xref: kubernetes/enhancements#2464, https://github.com/kubernetes/test-infra/pull/21180#issuecom

[2021-03-08 22:06] chizhg commented on #107
Hmm I saw they are shown on the spyglass lens (if you expand the passed tests and scroll down to the very bottom):
![image](https://user-images.githubusercontent.com/19399934/110388157-804c0180-8017-11eb-97d7-8ee829907247.png)

[2021-03-08 22:25] amwat commented on #107
yeah, that should look like

[code]

[2021-03-08 22:56] chizhg commented on #107
Got it, thanks!
I've made the fix in https://github.com/kubernetes-sigs/kubetest2/pull/105 since they are kinda related.

[2021-03-09 01:14] #107 closed

[2021-03-09 01:15] #58 closed

[2021-03-09 07:40] amwat commented on #107
verified I see it correctly in spyglass now

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-kubetest2/1369115504463056896

[2021-03-09 08:52] amwat commented on #17
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-03-09 09:04] amwat opened #108 "Add a version command"
`kubetest2 --version` should output the tag/commit that it's built from.

This is especially important since currently kubetest2 is used in a lot of place by go getting (mostly latest)
so knowing which exact binary(commit) was used is useful.
This will be further useful if it gets surfaced in testgrid metadata for any kubetest2 based job.

Additionally, this should be done for all the in-tree depl

[2021-03-09 18:38] #102 closed

[2021-03-09 18:45] ixdy commented on #77
/remove-lifecycle stale

[2021-03-11 22:09] supriya-premkumar commented on #108
/assign

[2021-03-11 22:33] amwat commented on #108
/remove-help
Please ping with any questions if you need help :)

[2021-03-11 23:45] amwat opened #109 "[GCE] support reusing existing ssh keys"
/cc @spiffxp
xref: https://github.com/kubernetes/k8s.io/issues/1751#issuecomment-790171952

xref: https://github.com/kubernetes/enhancements/issues/2464

[2021-03-12 08:41] amwat commented on #109
I'd like to deprecate "JENKINS" while doing this

https://github.com/kubernetes/test-infra/blob/31c626f6a2e660c8cf8d44b417cb5a71d0d63dba/config/prow/config.yaml#L639-L647

best way would be to export the same files as both `JENKINS_GCE_SSH_PRIVATE_KEY_FILE` ,`GCE_SSH_PRIVATE_KEY_FILE` and `JENKINS_GCE_SSH_PUBLIC_KEY_FILE`,  `GCE_SSH_PUBLIC_KEY_FILE`

as part of `preset-k8s-ssh` so that both kubete

[2021-03-14 20:11] spiffxp commented on #109
SGTM

[2021-03-16 21:29] chrislovecnm opened #112 "kubetest2-gke -down not deleting cluster"
Hi all

I am running `kubetest2 gke --down --cluster-name bazel-test --project chris-love-operator-playground --zone us-central1-a --ignore-gcp-ssh-key` and the gke cluster is not getting deleted.

`kubetest2 gke --up --cluster-name bazel-test --project chris-love-operator-playground --zone us-central1-a --ignore-gcp-ssh-key`  created the cluster

[2021-03-16 21:59] amwat commented on #112
Decoupled `--up` `--down` in general doesn't have good support yet, but we do want that eventually.

The intended way would be to run `--down` with the `--run-id=<run id used during up>` (this also doesn't work currently though).

/cc @chizhg

currently the `projectClusterLayout` is stored in-memory, we'll want to persist that under `RunDir()` for `Down()` to reuse.
Note: some of this is being pla

[2021-03-16 22:02] chizhg commented on #112
/cc @joshua-bone

[2021-03-16 22:49] chrislovecnm commented on #112
@amwat is there a good way to exec a test command while running an `--up --down`?  We need to run a bazel e2e test

[2021-03-16 22:54] amwat commented on #112
Yup, you can use the `exec` tester.
`kubetest2 gke --up --down --test=exec -- <mycommand or myscript.sh>`

[2021-03-16 23:00] chrislovecnm commented on #112
Yah I am trying

[code]

[2021-03-17 14:03] chrislovecnm opened #113 "[GKE/EXE] exe tester does not accept multiple arguments"
Hi all

I am getting an intermittent error running this

[code]

The error is

[code]

I am thinking that the GKE cluster is not up fully?

[2021-03-17 16:23] chrislovecnm commented on #113
Using just the `--up` is working fine, but when I use `--up --down` it does not run the tests.

[2021-03-17 17:43] chrislovecnm opened #114 "[GKE] cluster is ready"
How do I ensure that the cluster is up and running properly?

[2021-03-17 18:30] amwat commented on #113
Can you share the entire log?
I don't think there's any parsing error from the command.

`request.go` seems to be something from the bazel test itself so it does seems to be executed correctly?

[2021-03-17 18:41] amwat commented on #114
`gcloud` already does a cluster readiness check before exiting so if kubetest2 `Up()` succeeds that should be a good enough indication that the cluster is up?

[2021-03-17 19:22] chrislovecnm commented on #114
Well the gcloud readiness check ain’t working fully 😂

No I am now checking that certain pods in kube-system are ready and then the test works.

I mentioned to the folks over at kind that we might want to have a cluster up command. What are your thoughts on adding a list of labels that need to be up and running, then the  runners can check that.

[2021-03-17 19:23] chrislovecnm commented on #17
Bump. We could use a release 😁

[2021-03-17 19:37] amwat commented on #17
Ack, I'd like to get in a few things and line up `v0.1.0` with the alpha milestone of https://github.com/kubernetes/enhancements/tree/master/keps/sig-testing/2464-kubetest2-ci-migration#graduation-criteria

/cc @spiffxp @BenTheElder

[2021-03-19 15:07] chrislovecnm commented on #114
We just started running this binary before starting our tests and it has helped a lot. https://github.com/cockroachdb/cockroach-operator/blob/master/hack/k8s/verify_k8s_running.go

What do you think if incorporating something like this into kubetest2?

[2021-03-19 18:36] amwat commented on #48
/remove-lifecycle rotten

I think this is being worked on out-of-tree (which is really great to see!)
https://github.com/kubernetes-sigs/cluster-api/pull/4041

/close

[2021-03-19 18:36] #48 closed

[2021-03-19 18:52] amwat commented on #114
similar dependency concerns as https://github.com/kubernetes-sigs/kind/issues/2126#issuecomment-802965562 :)
but yes, definitely seems like a useful thing to have.

But I'd say them living closer to the tests is WAI?
there are varying degrees of "readiness" (that different tests rely on differently) and ideally the kubetest2 deployer itself should have the minimum of them (which I'm willing to tru

[2021-03-19 19:46] chrislovecnm commented on #114
I would say that we need to document that the deployers do not do any health checks of the cluster because we do not want to vendor code such as go-client.  I really don't think there are varying degrees of readiness in my opinion.  If something is not running in kube-system the cluster should not run tests IMO, but maybe that is just me.  I would recommend that we document what we test or don't t

[2021-03-19 20:58] amwat commented on #114
That's not the main reason of why I'm hesitant to add "health checks", that's just why we we'd want to avoid using that specific library directly :)

That's not true in general, we can do it for say kind with `--wait`. For GKE specifically, yes we don't do any health checks of our own, but `gcloud` does (and if it had a `--wait` that would be something we could do as part of the deployer). Ideally

[2021-03-19 23:32] amwat commented on #113
this seems like it was because of the cluster readiness, being discussed in https://github.com/kubernetes-sigs/kubetest2/issues/114

not an argument parsing issue

/close

[2021-03-19 23:32] #113 closed

[2021-03-19 23:36] amwat commented on #112
/priority important-longterm

[2021-03-19 23:38] amwat commented on #77
/priority important-soon
/help

[2021-03-19 23:41] amwat commented on #17
/priority important-soon

[2021-03-19 23:42] amwat commented on #98
/priority important-longterm

[2021-03-19 23:44] amwat commented on #88
/lifecycle active
/priority important-soon
/assign @joshua-bone

[2021-03-19 23:47] amwat commented on #87
Inferring the paths is the right way to go
which seems to be under investigation in https://github.com/kubernetes/kops/pull/10847

/close

can reopen if we run into more problems

[2021-03-19 23:47] #87 closed

[2021-03-19 23:51] amwat commented on #79
+1 this would be a great addition and will also preemptively solve version skew problems.

/priority important-soon
/help

[2021-03-19 23:55] amwat commented on #97
This is fairly similar to https://github.com/kubernetes-sigs/kubetest2/issues/98 let's track it there.

Once that is fixed, default would be `RunDir()` (so no upload) and we can add functionality to allow optionally uploading (by copying them back to artifacts.BaseDir())

/cc @justinsb

/close

[2021-03-19 23:55] #97 closed

[2021-03-20 03:01] rutigs opened #116 "EKS deployer"
Hey guys, is there any plan on supporting an EKS deployer?

I looked at kubetest 1 in the past as a way test a standard runtime I put on my EKS clusters but have since not kept up with the project and just stumbled across this today.

[2021-03-20 05:48] BenTheElder commented on #17
it might be worth trialing with something like v0.0.1 just to exercise the mechanisms intended for use and let users start using fixed tags more easily. we can have many v0.0.Z to test it out.

[2021-03-22 19:08] amwat commented on #116
Note: one of the main goals of kubetest2 is to support out-of-tree deployers (not implemented in this repository, but follow the kubetest2 conventions).

I am somewhat aware of `kubetest2-eks` plans over at https://github.com/aws/aws-k8s-tester#aws-k8s-tester
(might be a good place to start there?)

cc @gyuho

/close

[2021-03-22 19:08] #116 closed

[2021-03-24 19:58] liu-cong opened #118 "Unable to install kubetest2"
I tried to install kubetest2 following the README.md. And I ran into issues with `github.com/containers/image/v5/manifest`

[code]

[2021-03-24 20:15] amwat commented on #118
You might be most likely running it from a working directory which is another project go modules.

Unfortunately, for go versions < 1.16 installing a binary through `go get` also tried to update the modules of the project you are in. https://github.com/golang/go/issues/30515

Try running the same command from outside a project `cd $HOME`.

If you are on go1.16+ you can use `install` instead of `ge

[2021-03-24 20:51] liu-cong commented on #118
Thanks @amwat ! Your suggestion worked!

[2021-03-29 15:10] #109 closed

[2021-04-05 21:01] amwat commented on #106
`docker run --rm --entrypoint=kubetest2 gcr.io/k8s-testimages/kubekins-e2e:v20210403-e49d2c6-experimental`

kubetest2 binaries now exist in the kubekins experimental image.

[2021-04-05 21:02] amwat commented on #106
/close

[2021-04-05 21:02] #106 closed

[2021-04-15 19:01] chrislovecnm opened #128 "kubetest2-openshift - proposed new feature"
Hi all

I am working with Coachroach Labs and their operator, and we need to spin up an open shift cluster for e2e testing.  We are using kubetest2 for both kind and gke currently and it is working great!

Is anyone opposed to having a kubetest2 deployer that wraps the OpenShift installer binary?  I will not vendor any OpenShift specific dependencies.

[2021-04-16 23:58] coryrc opened #130 "kubetest2-gke deployer should accept major.minor version"
https://github.com/kubernetes-sigs/kubetest2/blob/96ab8c9c5ca183b362a8f95d24bd328e2527ab70/kubetest2-gke/deployer/up.go#L277

This is too strict. `1.18` is a valid cluster version.

/cc @chizhg @joshua-bone

[2021-04-19 19:39] chrislovecnm commented on #128
@amwat thoughts?

[2021-04-19 20:28] amwat commented on #128
I don't have any specific objections against it (especially since we clarified re: dependencies.)

Although some things to consider, having it in-tree means it would be coupled with the release lifecycle of this repo (eventually), and would expect at the very least to have community CI running against it.

Note that kubetest2 supports out of tree deployers, have you considered that?
most other pro

[2021-04-19 20:37] #130 closed

[2021-04-19 20:51] chrislovecnm commented on #128
I think out of tree is a great idea. Where is the interface defined?

[2021-04-19 21:11] amwat commented on #128
types are defined here: https://github.com/kubernetes-sigs/kubetest2/blob/master/pkg/types/types.go#L70-L82

Although, the actual contract with kubetest2 is just naming the binary `kubetest2-*` and calling into the shim `app.Main()` https://github.com/kubernetes/kops/blob/9dc910bdac92468793b4e4eff9b75524044291bd/tests/e2e/kubetest2-kops/main.go#L26

[2021-04-22 19:58] chrislovecnm commented on #128
Closing this, as we are doing out of tree

[2021-04-22 19:58] #128 closed

[2021-04-22 21:00] amwat commented on #128
Really happy to see this :)
definitely reach out if you run into any core feature requests that would be helpful for all deployers.

[2021-05-20 17:53] ShwethaKumbla commented on #77
I am interested to contribute.

/assign

[2021-05-20 18:58] amwat commented on #77
Thanks for taking this on!

/remove-help
Please ping with any questions if you need help :)

[2021-05-20 18:59] amwat commented on #77
/lifecycle active

[2021-05-20 19:10] briantkennedy opened #134 "User Documentation"
There's no user documentation for kubetest2.  I had to dig through source code to see what environment variables are passed to the test.  Please add documentation for all environment variables that the test has available.

https://github.com/kubernetes-sigs/kubetest2/blob/master/pkg/app/app.go#L129

[2021-05-24 20:35] amwat commented on #134
+1 , we lack documentation in general, there's some at https://github.com/kubernetes/community/blob/2bf70285c638872f0e1e8650ab6ce1df6a4ba25c/contributors/devel/sig-testing/e2e-tests-kubetest2.md#testing-against-an-existing-cluster

But a lot of aspects aren't covered there.

/kind documentation
/priority important-soon
/help

[2021-05-27 09:40] ShwethaKumbla commented on #77
@amwat Could you suggest me some pointers to test this scenario ?

[2021-05-27 19:39] amwat commented on #77
Definitely!

general pointers: https://gobyexample.com/signals

Overall we want to do something similar to what kubetest1 does e.g:

https://github.com/kubernetes/test-infra/blob/51fd28eca92982e2945d42001d6328158950df42/kubetest/main.go#L393

and add it to our `RealMain` flow https://github.com/kubernetes-sigs/kubetest2/blob/master/pkg/app/app.go#L48:6
most importantly we want to always call `Down

[2021-05-29 12:34] ShwethaKumbla commented on #77
Thanks @amwat for the pointers.

[2021-06-01 12:02] SameerMahajan-GSLab opened #137 "Error installing kubetest2"
From the instructions to install kubetest2 I am running:

GO111MODULE=on go get sigs.k8s.io/kubetest2/...@latest

when I get error

go get: can't request version "latest" of pattern "sigs.k8s.io/kubetest2/..." that includes the main module (sigs.k8s.io/kubetest2)

what am I missing?

[2021-06-01 18:15] amwat commented on #137
Most likely you might be running this from the main working directory of a checkout of kubetest2 repo itself?

can you try running it from outside a go module project working directory? https://github.com/kubernetes-sigs/kubetest2/issues/118#issuecomment-806157770

[2021-06-02 04:10] SameerMahajan-GSLab commented on #137
Thanks @amwat that helped. How do you run k8s e2e tests with kubetest2? Pardon my questions as I am a newbie.

[2021-06-02 09:30] amwat commented on #137
No worries!

There's some docs over at https://github.com/kubernetes/community/blob/2bf70285c638872f0e1e8650ab6ce1df6a4ba25c/contributors/devel/sig-testing/e2e-tests-kubetest2.md#testing-against-an-existing-cluster

the user documentation in this repo is really lacking! (https://github.com/kubernetes-sigs/kubetest2/issues/134)

/close

since the original issue seems to be resolved

[2021-06-02 09:30] #137 closed

[2021-06-07 19:51] Yiyiyimu opened #138 "bug: `make quick-verify` fail on local test"
When try to test kubetest2 on kind and run `make quick-verify`, the problem come with
[code]

Find from here, that somewhat kind name is set to empty
https://github.com/kubernetes-sigs/kubetest2/blob/1eb0d61beff534d941a25b1fce5e9041a77be7f3/kubetest2-kind/deployer/deployer.go#L49-L61

So I need to run `kubetest2 kind --up --cluster-name "name" --down --test=exec -- kubectl get all -A` to fix the p

[2021-06-07 20:40] amwat commented on #138
Which kind version are you using? (Check using `kind version`)
IIRC KIND supports passing empty string and will default to use `kind` as the cluster name.

Can you also try running kind directly with `kind create cluster --name ""`?

[2021-06-07 20:50] Yiyiyimu commented on #138
Sry forgot to leave kind version, it's `v0.8.1`. And using the latest version `v0.11.0` could fix this problem. Thanks for the prompt help!

[2021-06-07 20:50] #138 closed

[2021-06-10 20:03] chrislovecnm commented on #114
`gcloud` is not waiting for all of the services in the kube-system namespece to fully start.

Yes but some tests won't pass and we have gotten much better testing results when waiting for the cluster to actually start fully.  Just because the APIServer is running it does not mean that you can run more complex components such as operators. So I content that we document that kubetest is dependant on

[2021-06-10 20:04] chrislovecnm commented on #17
Can we please have a beta or alpha release??  Pretty please :)

[2021-06-18 01:30] mkumatag commented on #98
/remove-lifecycle stale

[2021-06-18 03:03] BenTheElder commented on #101
This should be a pretty good starter issue actually:

You'll want to integrate against https://github.com/kubernetes-sigs/kubetest2/tree/master/pkg/build

Somewhere early on, when the app has the `--build` mode enabled at least, we should identify the source location in the same way as the build logic, and compute SOURCE_DATE_EPOCH from git if possible. There is some pointer to computing that in t

[2021-06-18 23:33] amwat commented on #88
/remove-lifecycle stale

[2021-06-18 23:34] amwat commented on #88
/lifecycle active
/assign @joshua-bone

[2021-06-18 23:35] amwat commented on #45
/remove-lifecycle stale
/lifecycle active

[2021-06-18 23:36] amwat commented on #112
/remove-lifecycle stale
/lifecycle frozen

Improvements in #88 will also help in this

[2021-06-21 01:58] xinydev commented on #101
/assign

[2021-06-25 06:28] #101 closed

[2021-06-25 06:33] BenTheElder commented on #118
I think it's OK to leave the readme, this go quirk is not specific to this project, and can cause issues in any project with go get, but I've never seen this in a readme.

original issue is resolved now.

[2021-06-25 06:33] #118 closed

[2021-06-25 06:37] BenTheElder commented on #19
The answer for now is: they are in another repo. https://github.com/kubernetes/kops/tree/9dc910bdac92468793b4e4eff9b75524044291bd/tests/e2e/kubetest2-kops

[2021-06-25 06:37] BenTheElder commented on #16
In addition to the docs listed above, docs for this repo are now tracked in https://github.com/kubernetes-sigs/kubetest2/issues/134

[2021-06-25 06:39] BenTheElder commented on #114
FWIW in kubernetes the e2e tests do some waiting for readiness rather than depending on anything else, I'm not sure this model is terrible, depending on the tests you may need a varying level of readiness. (some test might need 100% of components on all nodes up and healthy + ready, other tests might be able to start as soon as the API server is up and ready)

[2021-06-25 06:40] BenTheElder commented on #101
Thanks again!

[2021-06-25 22:57] BenTheElder commented on #108
https://github.com/kubernetes-sigs/kubetest2/pull/111 is in but needs follow-ups (I think)

[2021-06-27 08:01] xinydev commented on #79
/assign

[2021-06-30 15:21] piyushgupta1551 opened #151 "Can we remove the hardcoded clusterloader2 folder name appended to $ARTIFACTS in --report-dir ?"
**Current situation -**
- when a perf test is executed using `kubetest2-tester-clusterloader2` via a prow job, the results of the test are created in $artifacts/clusterloader2 which cannot be read by perfdash (perfdash looks for results inside the artifacts folder only)
- Upon reading further, it seems that the concatenation of clusterloader2 to $artifacts is hardcoded and cannot be bypassed in an

[2021-07-01 03:41] chizhg opened #152 "Add E2E tests for kubetest2 gke deployer"
Since there has been active development on kubetest2 gke deployer, which has been used by multiple projects, it'll be good if we can have some e2e test coverage for it.

[2021-07-01 03:42] chizhg commented on #152
@amwat if there is a Boskos project pool that can be used, I would be happy to take this task.

[2021-07-07 22:20] coryrc commented on #108
`since currently kubetest2 is used in a lot of place by go getting`

I don't believe there's any way the callee (kubetest2 repo) to inject the version when something uses `go install`.

[2021-07-07 22:23] BenTheElder commented on #108
we have a version when you call kind even with `go get`. the solution is to have a placeholder hardcoded value and then sometimes override those symbols.

https://github.com/kubernetes-sigs/kind/blob/e0f885dbd565cf6449aa806e5093440db69d002d/pkg/cmd/kind/version/version.go#L1

https://github.com/kubernetes-sigs/kind/blob/c029e821c07b3c821ee3bde7b7386b8859d968ed/Makefile#L57

[2021-07-07 22:31] coryrc commented on #108
Sure, with `go get` you get VersionCore-VersionPreRelease which certainly narrows it down, but this sentence cannot be fulfilled to my knowledge by the callee:

[code]

The caller can (they could set that linker flag w/ go install, or they could use your makefile), but not the callee, right?

[2021-07-07 22:35] BenTheElder commented on #108
Yes, I should have looked back at the rest of the context 💯

With kind IMO we instead encourage:
- binaries from head are available to curl (which set this, and is cheaper/quicker/simpler than go-get anyhow)
- most people should use releases

IMO it's an anti-pattern that kubetest2 encourages go get at HEAD still, as soon as we tag a version `go get sigs.k8s.io/kubetset/...` will be a stable versi

[2021-07-07 23:30] amwat commented on #108
+1 yeah we should release a v0.1.0 soon.

For the record I don't think we "encourage" folks to go get it from HEAD :) that's just how I've seen most folks use it. /shrug
Definitely a stable tag and/or atleast a fixed commit is better. Pre-built curlable binaries (that would come with the release) would be the best.

We already have them for CI: https://gcsweb.k8s.io/gcs/k8s-staging-kubetest2/

@co

[2021-07-07 23:43] amwat commented on #79
/remove-lifecycle stale
/lifecycle active
/remove-help

[2021-07-07 23:50] #79 closed

[2021-07-08 00:00] amwat commented on #151
I don't have any strong objections. IIRC I don't think there was a specific reason for it to be named under sub directory that way. That being said I'm not sure if anything should assume that all generated artifacts would be in the top-level directory in the first place. But if perfdash is expecting in such a way I think that's a sane default.

I think we should solve it by doing both i.e. change

[2021-07-08 00:03] amwat commented on #152
big +1 I was planning on opening up this issue :)

I think we can use the existing one https://github.com/kubernetes/test-infra/blob/master/config/prow/cluster/boskos-resources.yaml#L229

/priority critical-urgent

[2021-07-08 07:54] BenTheElder commented on #108
right now go get *is* got get from HEAD until there is a tagged version, encouraging `go get` is the same as encouraging this until we tag it.

[2021-07-08 16:07] piyushgupta1551 commented on #151
Tx @amwat . Should I go ahead and raise the PR for these changes? Will remove the clusterloader2 folder name (make $ARTIFACTS folder as default) and will enable --report-dir as an arg to the tester.

[2021-07-08 17:19] amwat commented on #151
That sounds great! Thank you

[2021-07-09 18:01] #151 closed

[2021-07-19 19:21] chizhg commented on #152
/reopen

[2021-07-19 19:58] #152 closed

[2021-07-26 18:22] chrislovecnm commented on #17
Bump

[2021-08-06 19:31] #45 closed

[2021-08-06 19:34] amwat commented on #17
I was mainly waiting on the node tester changes in https://github.com/kubernetes-sigs/kubetest2/pull/103
there's only 1 last issue to tackle in the milestone https://github.com/kubernetes-sigs/kubetest2/milestone/1

after which I'll cut a v0.1.0

[2021-08-17 23:44] #108 closed

[2021-08-20 20:13] chizhg opened #163 "[GKE] Do not print the error log if GKE cluster creation fails but gets retried"
If the GKE cluster creation fails because of some intermittent errors like `GCE_STOCKOUT`, the cluster creation will be retried in the next region/zone if multiple regions/zones are specified via the kubetest2-gke flag. In most cases the cluster creation will eventually succeed, but currently the error will be printed in the log which is confusing to the users, and it gets worse since the `ERROR`

[2021-09-15 17:46] chrislovecnm commented on #17
Any updates???????  Please cut a release

[2021-09-16 16:07] amwat opened #164 "Node Tester Improvements"
Tracker issue for improvements to the node tester to enable migration of CI jobs to kubetest2

- [x] Initial skeleton of the node tester
- [x] noop deployer
- [ ] Migrate Kubernetes presubmit blocking jobs
- [ ] Migrate Kubernetes release blocking jobs
- [ ] ...

xref: https://github.com/kubernetes/enhancements/issues/2464

[2021-09-16 16:26] amwat opened #165 "Shadow canary job for pull-kubernetes-node-e2e"
Issue to track improvements needed to migrate one of the kubernetes presubmit-blocking jobs as part of https://github.com/kubernetes-sigs/kubetest2/issues/164 , https://github.com/kubernetes/enhancements/issues/2464

Testgrid: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e

Existing kubetest prowjob definition: https://github.com/kubernetes/test-infra/blob/3c87dfed

[2021-09-20 18:20] Namanl2001 commented on #165
Curated a list of flags which needs to be added in node tester. PHAL at https://docs.google.com/document/d/10bWkviqIIKhO3qSKEpFgVqmTdyBtF3Tr9E90lmYOPFc/edit?usp=sharing

[2021-09-20 20:55] amwat commented on #17
Ah yes, I've fallen a bit behind on this 😅 . All the things that we were mostly waiting on are in now.
Will cut a release this week.

[2021-10-01 20:08] spiffxp commented on #163
/sig testing

[2021-10-01 20:08] spiffxp commented on #164
/sig testing
/sig node

[2021-10-01 20:08] spiffxp commented on #165
/sig testing
/sig node

[2021-11-15 23:20] amwat commented on #77
/lifecycle active

[2021-11-16 02:09] mkumatag commented on #98
/remove-lifecycle stale

[2021-12-10 11:26] Rajalakshmi-Girish opened #176 "Unable to run kubetest2 <deployer> --test more than once from same path"
**Summary:** We are unable to use kubetest2 to test kubernetes more than once from a same path.

`metadata.json` generated by kubetest2 command is objecting to run `kubetest2` second time from same path stating the following error:
Example using gingko tester:
[code]

**Expected result:** Should be able to run kubetest2 any number of times from a given path. There should ether be a flag to ignore

[2021-12-10 11:52] Rajalakshmi-Girish commented on #176
@mkumatag ^^

[2021-12-10 11:58] mkumatag commented on #176
/cc @amwat

[2022-01-15 00:24] #88 closed

[2022-01-15 01:24] #114 closed

[2022-01-15 01:24] #134 closed

[2022-02-14 04:08] mkumatag commented on #98
/remove-lifecycle stale

[2022-02-23 19:51] Rajalakshmi-Girish commented on #98
@amwat I have started working on this. Below is the approach that I thought of. Can you please confirm if this seems good to proceed?

- Have RunDir out of Artifacts and decoupled as this issue aims. (Not a subdirectory. Default RunDir shall be `_rundir` at the same level as `_artifacts`)

- All the files related to a specific run(Binaries, metadata.json, junit_runner.xml and junit_*.xml files) wo

[2022-02-28 22:16] #163 closed

[2022-02-28 22:16] #164 closed

[2022-02-28 22:16] #165 closed

[2022-03-01 05:16] Rajalakshmi-Girish commented on #98
@mkumatag your thoughts on above please.

[2022-03-10 17:34] Rajalakshmi-Girish commented on #176
/remove-lifecycle stale

[2022-03-16 18:18] andrewsykim opened #184 "--use-built-binaries for tests doesn't work with kind deployer"
Setting the `--use-built-binaries` flag for running tests doesn't seem to be working when using the kind deployer because the kind node image builder doesn't bundle the e2e.test binary.

I wasn't sure if this was expected behavior but being able to run a single command to build a kind node image, start the cluster, and then run tests would be useful:
[code]

[2022-03-24 20:34] cyang49 opened #186 "How to set the number of worker nodes while creating a test cluster with kind deployer?"
Hi, I tried to run some e2e tests with the kind deployer using a command like this:
[code]

And I get an error:
[code]

I inspected the only node created and it has a taint:
[code]

Although the tests will start if I remove the taint manually, but is there a better way to increase the number of worker nodes? I can't find it in the documentation. Please advise.

[2022-03-29 19:51] cyang49 commented on #186
I found an answer [here](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#running-conformance-tests-with-kind)

In short, create the config YAML with specification of the nodes in the cluster

[2022-03-29 19:51] #186 closed

[2022-03-30 07:44] olemarkus opened #188 "Kubetest2 doesn not down on ginkgo failures"
Previously, kubetest2 would have a `defer shouldDown()` that ensured clusters were always cleaned up after run regardless of outcome given that `--down` flag was supplied.

https://github.com/kubernetes-sigs/kubetest2/commit/d9ca6c849f1e275cc5b98c1248bfeb24e72c684a seems to have removed that defer and instead only ensures down is executed on certain signals. If ginkgo returns an error, `shouldDown

[2022-04-04 10:13] ShwethaKumbla commented on #188
@olemarkus there was a  concern that down will be called multiple times in case of any signal failure so defer is removed.
reference : https://github.com/kubernetes-sigs/kubetest2/pull/148#pullrequestreview-809265013

@amwat As we removed defer, looks like suppling  `--down ` flag is mandatory as clusters are not teared down in case of ginkgo errors. Could you please confirm what should be the beh

[2022-04-11 20:33] #188 closed

[2022-04-15 00:38] #77 closed

[2022-04-27 20:51] tallclair opened #190 "Implement minikube deployer"
Would be great to have a minikube deployer, as an alternative to kind for local development.

/help

[2022-05-19 15:41] pseudomuto commented on #17
Is this still something that's going to happen? Any reason to not cut a release?

[2022-05-19 16:04] BenTheElder commented on #17
amwat moved on and this project is understaffed, I'm currently the only active approver and I have a number of other more urgent things elsewhere

[2022-05-19 23:35] BenTheElder commented on #190
FWIW: We don't necessarily intend to have all deployers in this repo, kubetest2 is usable as a library, we have a few `exec` based deployers here as references, but for example `kops` implements one in their repo, so they can use kops as a library (and not pollute the dependencies in this repo).

https://kops.sigs.k8s.io/contributing/testing/#kubernetes-e2e-testing
https://pkg.go.dev/k8s.io/kops/t

[2022-05-19 23:36] BenTheElder commented on #184
That seems like a bug, the builder should build the e2e binary, similar to https://github.com/kubernetes-sigs/kind/blob/main/hack/ci/e2e-k8s.sh

/help

[2022-05-19 23:37] BenTheElder commented on #176
fixed by your pending PR https://github.com/kubernetes-sigs/kubetest2/pull/183, right?

[2022-05-20 18:05] tallclair commented on #190
That makes sense. In that case, it might be helpful to keep an index of other deployer implementations here.

[2022-05-30 06:33] mkumatag commented on #98
/remove-lifecycle stale

[2022-06-01 02:24] helayoty opened #193 "Implement AKS deployer"
Would be great to have an AKS deployer available in `kubetest2`. That will help us integrate with [e2e-framework](https://github.com/kubernetes-sigs/e2e-framework) as we were discussing [here](https://github.com/kubernetes-sigs/e2e-framework/issues/131)

/help

[2022-06-25 04:37] BenTheElder commented on #193
FWIW: see discussion in https://github.com/kubernetes-sigs/kubetest2/issues/190#issuecomment-1132299937

TLDR:
The deployers we have now are meant to be relatively simple, zero dependency (only exec) examples.

kubetest2 is expressly designed to enable implementing more deployers out of tree with tighter integration (e.g. using the EKS or AKS or kops libraries) *without* the dependency hell we had

[2022-06-25 04:40] #98 closed

[2022-06-28 03:40] Rajalakshmi-Girish commented on #176
This seems to be fixed by https://github.com/kubernetes-sigs/kubetest2/pull/162
Closing this issue as we no longer encounter this after upgrading to latest `kubetest2`

[2022-07-21 07:43] GanjMonk commented on #17
Hello @BenTheElder, it looks like there is a good time to resume discussion :) Right now it is impossible to use latest kubetest2 with ginkgo-tester and --test-package-version flag (when you need some exact test suite version, e.g. v1.22.2) due to preparation for ginkgo v2 in 0d04f94a45a4d0b885c272153efdde1b09c45f82, it seems only master branch contain such changes https://github.com/kubernetes/ku

[2022-07-26 04:43] BenTheElder commented on #17
I’m sorry, I’ve been on vacation the past few weeks, I’m back now but I’m [changing roles](https://twitter.com/bentheelder/status/1551670320423059456) and will probably? step down from this project.

My advice for now is to pin the version using `@commit` with go get, but I agree that releases would be a good idea.

We should probably consider at least extremely lightweight releases that merely pr

[2022-07-27 23:48] mattcary opened #202 "Support GCE PD testing"
kubetest2 does not plumb env vars to its dependent processes as described here: https://github.com/kubernetes-sigs/kubetest2/blob/master/kubetest2-gce/deployer/common.go#L89.

From the comment that seems mostly an aesthetic decision, and a desire to understand the API between kubetest2 and the tests it runs rather than opening the door to promulgating a whole bunch of legacy crufty decisions.

Thi

[2022-07-28 00:06] BenTheElder commented on #202
Just a point of clarity: `ENABLE_STORAGE_GCE_PD_DRIVER` is only an option for the e2e tests, not cluster configuration.

For the e2e tests, they shouldn't be consuming many environment variables, we usually implement options in the e2e tests as flags to that binary upstream in Kubernetes, and then kubetest2 does allow passing through additional ginkgo flags. The upstream e2e framework has a _lot_

[2022-07-28 00:15] mattcary commented on #202
Thanks Ben, I figured out in parallel exactly your point about the e2e test option vs the cluster config. Here's my stab at the right PR: https://github.com/kubernetes/kubernetes/pull/111481.

Does that look like the right way to do things to you?

[2022-07-28 00:17] BenTheElder commented on #202
That looks right to me! thanks 👍

[2022-07-28 23:46] mattcary opened #203 "kubetest2-ginko tester overwrites local e2e.test"
Expected behavior: kubetest2 builds and uses a local e2e.test
Actual behavior: kubetest2 builds a local e2e.test, but uses a different one.

I'm trying to test out a new e2e.test config flag (https://github.com/kubernetes/kubernetes/pull/111481). I'm running the following kubetest2 command,  inspired by the cloud-provider-gcp prow job:

[code]

This is using kubetest2 at commit 2aac35a from 13 Jul

[2022-07-29 00:30] BenTheElder commented on #203
Hmm I think you need another flag https://github.com/kubernetes-sigs/kubetest2/blob/c76fb417aa01874c79b5adf703f0f651897c8a9d/pkg/testers/ginkgo/ginkgo.go#L123 which seems like a bad default

[2022-07-29 01:06] mattcary commented on #203
Oh god and since this a gingko flag and the build flag is a deployer flag or whatever there's no easy way to coordinate the flag or give any kind of useful error message or help to the user.

Infinite sadness.

[2022-07-29 13:17] rifelpet opened #204 "Ginkgo v2 flag changes break testing older k8s versions"
kOps uses kubetest2 to test all supported k8s versions. The flag changes from upgrading to ginkgo v2 (https://github.com/kubernetes-sigs/kubetest2/pull/200) impact all usage of kubetest2. Because ginkgo was only upgraded to v2 in k/k's master branch, older k8s versions still use ginkgo v1. This inconsistency results in failures to test older k8s versions.

[example with k8s 1.22](https://prow.k8s.

[2022-07-29 13:34] aojea opened #205 "Kubetest2 should support ginkgov2 for 1.25+ and ginkgov1 for 1.24-"
FYI this causes problems when testing older k8s versions, see https://github.com/kubernetes-sigs/kubetest2/issues/204

_Originally posted by @rifelpet in https://github.com/kubernetes-sigs/kubetest2/issues/200#issuecomment-1199276133_

[2022-07-29 13:37] aojea commented on #205
duplicate of https://github.com/kubernetes-sigs/kubetest2/issues/204

XD

[2022-07-29 13:37] #205 closed

[2022-07-29 18:25] BenTheElder commented on #204
https://github.com/kubernetes-sigs/kubetest2/pull/201#issuecomment-1197509112

[2022-07-29 18:35] BenTheElder commented on #204
short term: consider pinning the version you use: https://github.com/kubernetes-sigs/kubetest2/issues/17#issuecomment-1194994903

[2022-08-01 17:23] palnabarun opened #208 "Remove dependence on boskos and test-infra"
Filing this issue to remove dependency of kubetest2 on boskos and in turn test-infra.

Thoughts from @BenTheElder on https://github.com/kubernetes-sigs/kubetest2/pull/207#issuecomment-1201473204:

[2022-08-01 17:29] palnabarun commented on #208
The prior art by @munnerz in https://github.com/kubernetes/test-infra/pull/26956 copies relevant parts of boskos to test-infra and eliminates the circular dependency between boskos and test-infra.

However, the problem we are dealing with here is that boskos client depends on test-infra for `test-infra/prow/config/secret`. We need to find a way to resolve that as well.

Otherwise, merely copying b

[2022-08-01 18:17] rifelpet commented on #204
Confirmed #206 fixed the issue for kops 👍🏻

[2022-08-06 14:03] liggitt opened #210 "Unsafe concurrent use of bytes.Buffer"
https://github.com/kubernetes-sigs/kubetest2/blob/master/pkg/process/junitexec.go#L59-L61 uses the same bytes.Buffer in two output streams, which means it can be written to concurrently. That is not threadsafe.

This panics randomly with changes made to bytes.Buffer growing in go1.19.

The code should be changes to make use of the buffer threadsafe or use two separate buffers

[2022-08-11 17:40] BenTheElder commented on #210
For the next time we run into something like this: It's actually [slightly more complex than that in the general case]( https://github.com/kubernetes-sigs/kind/blob/ad1e16c767ebc8129785b9f440baa6b28438db05/pkg/exec/local.go#L83) but not here since we always set os.Stdout and os.Stderr

This should use a mutex wrapped buffer.

[2022-08-11 17:43] BenTheElder commented on #208
I think given our current discussion the correct answer for now is for boskos to stop depending on the secret agent xref https://github.com/kubernetes/test-infra/issues/26989#issuecomment-1212290984

[2022-08-11 17:44] BenTheElder commented on #210
Actually, I will just do this before PRing myself to emeritus, since this is such a trivial but important fix ...

[2022-08-11 18:15] #210 closed

[2022-08-18 14:36] vaibhav2107 commented on #184
/remove-lifecycle stale

[2022-08-25 20:40] spiffxp commented on #193
/close
Looks like https://github.com/kubernetes-sigs/cloud-provider-azure/pull/2163 has implemented `kubetest2-aks`

[2022-08-25 20:41] #193 closed

[2022-08-26 00:54] spiffxp opened #216 "Unable to go install kubetest2 with go 1.17"
When using `go install` with go 1.17, dependencies that require go1.18 or above get pulled in
[code]
Note this doesn't happen with go 1.16 (used by kubernetes v1.22)

/kind bug
/sig testing
/priority important-soon

[2022-08-26 16:26] BenTheElder commented on #193
we should consider pointing to some of these projects from the README

[2022-08-26 17:24] #216 closed

[2022-08-26 19:29] spiffxp opened #217 "Document kubetest2 deployers"
ref: https://github.com/kubernetes-sigs/kubetest2/issues/193#issuecomment-1228695853

Document:
- we don't want any more in-tree kubetest2 deployers or testers (we may move some out eventually?)
- well known out-of-tree kubetest2 deployers
  - kubetest2-aks: https://github.com/kubernetes-sigs/cloud-provider-azure/tree/master/kubetest2-aks
  - kubetest2-kops: https://github.com/kubernetes/kops/tree

[2022-09-02 18:08] #217 closed

[2022-09-30 05:09] Rajalakshmi-Girish commented on #176
This error started coming back after moving metadata.json from RunDir to ARTIFACTS via  https://github.com/kubernetes-sigs/kubetest2/pull/221

IMO, if a second `kubetest2` command is not allowed to run from the same path as the first `kubetest2`, The error message has to suggest what can be done.
- Like changing the ARTIFACTS directory to a different one
OR
-  Maybe even allow overwriting of `test

[2022-09-30 07:21] BenTheElder commented on #176
IMHO: metadata.json should be part of ARTIFACTS, it's expected to be uploaded in CI and read by the CI tools.

We should probably just overwrite or amend the existing file.

In the meantime, kubetest2 should probably be used with unique $ARTIFACTS, maybe we should instead use a tempdir for the ARTIFACTS location if it's not explicitly set.

I've stepped down to emeritus_approver in this project th

[2022-10-17 19:41] #190 closed

[2022-11-09 18:34] BenTheElder commented on #208
/lifecycle frozen